%p#notice= notice

= link_to 'Back', documents_path

#documents_show

  .document

    %h1= @document.title

    .body= @document.body
  
    .tagging
      %h3 tag this text:
      %p.chunk_text
        the text you selected
      = simple_form_for(@document.chunks.build) do |f|
        .uicomment [note these next three inputs will be hidden]
        = f.input :document_id
        = f.input :first_char_at
        = f.input :last_char_at
        
        
        = f.input :tag_list
        
        = f.button :submit, "save tags"

