= simple_form_for @tag do |form|

  -if @tag.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@tag.errors.count, "error")} prohibited this #{Tag.name.titleize} from being saved:"
      %ul
        - @tag.errors.full_messages.each do |msg|
          %li= msg  


  .actions
    = form.button :submit