%p#notice= notice

%h1= "text tagged with '#{@tag.name}'"

%table
  - @chunks.each do |chunk|
    .chunk
      .text= chunk.text
      .document_title
        from
        = link_to chunk.document.title, chunk.document
      .tagged_by
        tagged by
        = chunk.taggings.map(&:tagger).uniq.first.email